/* GLOBAL RESET */
* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

/*  PAGE BACKGROUNDS */
body {
    min-height: 100vh;
}

/* Landing + Result page */
.gradient-bg {
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Prediction form page */
.form-bg {
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  CARDS  */
.card {
    background: #ffffff;
    width: 520px;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 30px 80px rgba(0,0,0,0.3);
    text-align: center;
}

/*  HEADINGS  */
h1 {
    margin-bottom: 15px;
    color: #2d2d2d;
}

.subtitle {
    color: #555;
    margin-bottom: 25px;
}

/*  FORM */
.form-group {
    text-align: left;
    margin-bottom: 18px;
}

label {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
    display: block;
}

input, select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input::placeholder {
    color: #999;
}

input:focus,
select:focus {
    outline: none;
    border-color: #c57343;
    box-shadow: 0 0 0 3px rgba(197,115,67,0.25);
}

/* OGGLE SWITCH */
.toggle-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    background-color: #ccc;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.switch input:checked + .slider {
    background-color: #c57343;
}

.switch input:checked + .slider::before {
    transform: translateX(24px);
}

/* BUTTONS  */
.btn {
    width: 100%;
    padding: 14px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #5a67d8;
    transform: translateY(-2px);
}

/*  RESULT PAGE  */
.result-score {
    font-size: 36px;
    font-weight: bold;
    color: #667eea;
    margin: 20px 0;
}

.back-link {
    text-decoration: none;
    font-weight: 600;
    color: #667eea;
}

.back-link:hover {
    color: #4c51bf;
}
